@model List<IndexPostBlogViewModel>
@{
                /**/

                ViewBag.Title = "AllPosts";
}

<h2>All Posts</h2>
<div style="margin-top:60px"></div>

@if (User.IsInRole("Admin"))
 {
    <a class="btn btn-primary" style="margin-top:60px" href="@Url.Action("Post", "Blog")">Add a New Post</a>
 }

@if (!Model.Any())
{
    <div style="margin-top:15px;">
        <p><strong>You have no Posts</strong></p>
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Body</th>
                <th>Date Created</th>                
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var posts in Model)
            {
                if (!User.IsInRole("Admin") && posts.Published == true)
                {
                    <tr>
                        <td>@posts.Title</td>
                        <td>@Html.Raw(posts.Body)</td>
                        <td>@posts.DateCreated</td>
                        <td>@Html.ActionLink("ReadMore", "Details", new { id = posts.PostId })</td>

                    </tr>
                }
                else if (User.IsInRole("Admin"))
                {
                    <tr>
                        <td>@posts.Title</td>
                        <td>@Html.Raw(posts.Body)</td>
                        <td>@posts.DateCreated</td>
                        <td>@Html.ActionLink("ReadMore", "Details", new { id = posts.PostId })</td>

                        @*<td>
                            <a href="@Url.Action("DetailsByName", "Blog", new { name = posts.Title })">Details</a>
                        </td>*@
                        <td>
                            <a href="@Url.Action("Edit", "Blog", new { id = posts.PostId })">Edit</a>
                        </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <form method="post" action="@Url.Action("Delete", "Blog", new { id = posts.PostId })">
                                    <button class="btn-delete">Delete</button>
                                </form>
                            </td>
                        }
                    </tr>
                }

            }
        </tbody>
    </table>
}

