@model CreateEditCommentViewModel

@{
    ViewBag.Title = "EditComment";
}

<h2>EditComment</h2>

<form method="post" enctype="multipart/form-data" style="margin-top:50px">
    @Html.ValidationSummary(false)
    
    <div class="form-group">
        @Html.LabelFor(p => p.Body, "Body")
        @Html.TextAreaFor(p => p.Body, new { @class = "form-control", placeholder = "Body", rows = 5, columns = 5 })

        @Html.LabelFor(p => p.UpdatedReason, "Updated Reason")
        @Html.TextAreaFor(p => p.UpdatedReason, new { @class = "form-control", placeholder = "Updated Reason", rows = 5, columns = 5 })

        <div class="">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>