@model List<BlogProject.Models.ViewModels.IndexPostBlogViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div style="margin-top:60px"></div>

@if (!Model.Any())
{
    <div style="margin-top:15px;">
        <p><strong>No Posts Available </strong></p>
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Body</th>
                <th>Published</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                if (!User.IsInRole("Admin") && record.Published == true)
                {
                    <tr>
                        <td>@record.Title</td>
                        <td>@Html.Raw(record.Body)</td>
                        <td>@record.Published</td>
                        <td>@Html.ActionLink("ReadMore", "Details", new { id = record.PostId })</td>

                        <td>
                            <a href="@Url.Action("DetailsByName", "Blog", new { name = record.Title })">Details</a>
                        </td>

                    </tr>
                }
                else if (User.IsInRole("Admin"))
                {
                    <tr>
                        <td>@record.Title</td>
                        <td>@Html.Raw(record.Body)</td>
                        <td>@record.Published</td>
                        <td>@Html.ActionLink("ReadMore", "Details", new { id = record.PostId })</td>

                        @*<td>
                            <a href="@Url.Action("DetailsByName", "Blog", new { name = record.Title })">Details</a>
                        </td>*@
                        <td>
                            <a href="@Url.Action("Edit", "Blog", new { id = record.PostId })">Edit</a>
                        </td>
                        @*<td>@Html.ActionLink("Delete", "Delete", new { id = record.PostId })</td>*@

                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <form method="post" action="@Url.Action("Delete", "Blog", new { id = record.PostId })">
                                    <button class="btn-delete">Delete</button>
                                </form>
                            </td>
                        }

                    </tr>
                }
            }
        </tbody>
    </table>
}
